---
import { SITE_DESCRIPTION } from "../../consts";
---

<section id="about">
  <h2>
    {SITE_DESCRIPTION}
  </h2>
  <div class="container flow">
    <p class="leading">
      Cutting my teeth building table based layouts with CGI backends as a
      teenager in the late 90s.
    </p>
    <!-- <p>
      The journey ever since has been one of self-learning, self-evalutation,
      reflection, re-learning &amp; iteration.
    </p> -->
    <p>
      Fast forward two decades and you'll find me building &amp; leading teams
      that build highly performant, useable and accessible
      <abbr title="Progressive Web Applications">PWAs</abbr>,
      <abbr title="Single Page Applications">SPAs</abbr>,
      <abbr title="Multi Page Applications">MPAs</abbr> &amp; web sites for the <a
        href="https://developer.mozilla.org/">Web Platform</a
      >, with modern stacks &amp; best practice with tools like
      <a href="">HTML</a>,
      <a href="">CSS</a>,
      <a href="https://typescript.org/">Typescript</a>,
      <a href="https://typescript.org/">Astro</a>,
      <a href="https://typescript.org/">11ty</a>,
      <a href="https://typescript.org/">Remix</a>,
      <a href="https://typescript.org/">Next.js</a>,
      <a href="http://reactjs.org">React</a>,
      <a href="https://graphql.org/">GraphQL</a>,
      <a href="https://nodejs.org">Node</a> &amp;
      <a href="https://storybook.js.org/">Storybook</a>.
    </p>
    <p>
      I've had a wide exposure to a wide array of technologies and methodologies
      over the years, having worked for Software Houses, Creative &amp; Digital
      Agencies, Startups, &amp; NGOs as well as running my own businesses.
    </p>
    <p>
      I have an eye for detail and an appreciation for aesthetics &amp; try my
      best to apply design thinking to all areas of my work.
    </p>
    <!-- <p>
      <em>Sounds interesting?</em>
    </p>
    <p><strong>I'd love to <a href="/#contact">hear from you</a>.</strong></p> -->
  </div>
</section>
<style>
  section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--space-xl);
    /* background: #333; */
    background: var(--color-primary);
    color: #fff;
    /* padding: var(--space-m) 0; */
    font-size: var(--step-3);
    /* background: url(/body-glitch-3.webp); */
    /* background-size: cover; */
    min-height: 100vh;
    text-wrap: balance;
    padding: var(--space-xl) var(--space-m) var(--space-2xl) var(--space-m);
  }

  section h2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-xs);
    font-size: var(--step-3);
    line-height: var(--step-5);
    justify-content: center;
    padding: 0 var(--space-m);
    font-weight: 200;
    text-wrap: balance;
  }

  section p {
    font-size: var(--step-1);
  }

  section .leading {
    text-wrap: balance;
  }

  section .container {
    /* max-width: 1350px; */
    border-radius: 2rem;
    /* margin: 0 auto; */
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    padding: var(--space-xl);
    /* min-height: 100vh; */
    background-color: rgba(0, 0, 0, 0.1);
    /* background: var(--color-secondary-glare); */
  }

  @media only screen and (min-width: 800px) {
    section {
      padding: var(--space-xl) var(--space-2xl) var(--space-2xl);
    }
    section .container {
      column-count: 2;
      column-gap: var(--space-2xl);
      padding: var(--space-2xl) var(--space-xl);
    }
    section p {
      font-size: var(--step-1);
    }
    section h2 {
      /* line-height: 6rem; */
      font-size: var(--step-4);
      line-height: calr(var(--step-5) * 2);
    }
  }

  h2 {
  }

  p:first-child {
    margin-top: 0;
  }

  a:link,
  a:visited {
    color: var(--color-light);
  }
</style>
