<section id="about">
  <div class="container">
    <p class="leading">
      Cutting my teeth building table based layouts with CGI backends as a
      teenager in the late 90s, the journey ever since has been one of
      self-learning, self-evalutation, reflection, re-learning &amp; iteration.
    </p>
    <p>
      Fast forward two decades and you'll find me building &amp; leading teams
      that build highly performant, useable and accessible
      <abbr title="Progressive Web Applications">PWAs</abbr>,
      <abbr title="Single Page Applications">SPAs</abbr>,
      <abbr title="Multi Page Applications">MPAs</abbr> &amp; web sites leveraging
      the <a href="https://developer.mozilla.org/">Web Platform</a>, modern
      stacks &amp; best practice with tools like
      <a href="">HTML</a>,
      <a href="">CSS</a>,
      <a href="">Javascript</a>,
      <a href="https://typescript.org/">Typescript</a>,
      <a href="https://typescript.org/">Astro</a>,
      <a href="https://typescript.org/">11ty</a>,
      <a href="http://reactjs.org">React</a>,
      <a href="https://nextjs.org/">Next.js</a>,
      <a href="https://graphql.org/">GraphQL</a>,
      <a href="https://nodejs.org">Node</a>,
      <a href="https://www.postgresql.org/">PostgreSQL</a> &amp;
      <a href="https://storybook.js.org/">Storybook</a>.
    </p>
    <p>
      I've had a wide exposure to a wide array of technologies and methodologies
      over the years, having worked for Software Houses, Creative &amp; Digital
      Agencies, Startups, &amp; NGOs as well as running my own businesses.
    </p>
    <p>
      I have an eye for detail and an appreciation for aesthetics &amp; try my
      best to apply design thinking to all areas of my work.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    scroll-margin-top: calc(2 * var(--space-l));
    max-width: 75%;
    padding-top: var(--space-m);
    font-size: var(--step-1);
  }

  .leading {
    font-weight: 600;
  }

  .container p {
    margin-top: 0;
  }

  @media screen and (min-width: 649px) {
    .container {
      columns: 2;
      column-gap: var(--space-2xl);
    }
  }

  @media screen and (min-width: 1920px) {
     .container {
      max-width: 75%;
    }
    section > * {
      animation: aboutInLarge auto ease-out;
      animation-timeline: --page-scroll;
    }
  }
</style>
