<section id="contact">
  <h2>Get in touch</h2>

  <p>I'm currently open for new opportunties.</p>
  <p>If you'd like to reach out, I'd love to hear from you.</p>

  <p>You can catch me in all the usual places.</p>
  <ul role="list">
    <li>
      <a href="https://techhub.social/@tthew"> Mastodon</a>
    </li>
    <li>
      <a href="https://github.com/tthew"> Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lucidmoon/"> LinkedIn</a>
    </li>
  </ul>
  <p>
    Feel free to reach out to me there, or alternatively
    <a href="mailto:hallo@tthew.berlin">drop me an email</a>.
  </p>
</section>

<style>
  /* @keyframes contactTransitionIn {
    0% {
      transform: translateY(1000px);
      opacity: 1;
    }
    30% {
      transform: translateY(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
  } */

  #contact {
    animation: contactTransitionIn auto linear;
    animation-timeline: --page-scroll;
    text-align: center;
    width: 100%;
    margin-top: var(--space-l);
    padding: calc(var(--space-2xl) * 3) 0 var(--space-2xl);
    scroll-margin-top: calc(-2 * var(--space-2xl));
    font-size: var(--step-1);
    background: hsl(163, 60%, 6%);
  }

  #contact h2 {
    font-size: var(--step-5);
    font-weight: 900;
    margin: 0;
  }

  #contact ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
    padding: var(--space-s);
    list-style: none;
  }

  #contact ul li {
    font-size: var(--step-1);
    padding: var(--space-s) var(--space-l);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
</style>
