<section id="contact">
  <h2>Get in touch</h2>

  <ul>
    <li>
      <a href="https://techhub.social/@tthew">Mastodon</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lucidmoon/">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/tthew">Github</a>
    </li>
    <li>
      <a href="mailto:hallo@tthew.berlin">Email</a>
    </li>
  </ul>
</section>

<style>
  section {
    background: var(--color-primary);
    text-align: center;
    padding: var(--space-m);
    font-size: var(--step-1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--space-m);
  }

  section p,
  section h2 {
    margin: 0;
    color: #fff;
  }

  h2 {
    text-align: right;
  }
  section h2::before {
    content: "🤙 ";
  }

  section > div {
    /* max-width: 1350px; */
    /* margin: auto; */
  }

  section ul {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: var(--space-m);
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  section a:link,
  section a:visited {
    --link-color: var(--color-light);
  }
</style>
