<section id="contact">
  <h2>Get in touch</h2>

  <p>I'm currently leading the front end @ <a href="https://doctorly.de">doctorly</a>.</p>
  <p>If you'd like to reach out, I'd love to hear from you.</p>

  <p>You can catch me in all the usual places.</p>
  <ul role="list">
    <li>
      <a href="https://techhub.social/@tthew"> Mastodon</a>
    </li>
    <li>
      <a href="https://github.com/tthew"> Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lucidmoon/"> LinkedIn</a>
    </li>
  </ul>
  <p>
    Feel free to reach out to me there, or alternatively
    <a href="mailto:hallo@tthew.berlin">drop me an email</a>.
  </p>
</section>

<style>
  section {
    animation: contactTransitionIn auto linear;
    animation-timeline: --page-scroll;
    text-align: center;
    width: 100%;
    margin-top: var(--space-l);
    padding: var(--space-2xl) 0 var(--space-2xl);
    scroll-margin-top: calc(-2 * var(--space-2xl));
    font-size: var(--step-1);
    background: hsl(163, 60%, 6%);
  }

   h2 {
    font-size: var(--step-5);
    font-weight: 900;
    margin: 0;
  }

   p {

    padding: 0 var(--space-l);
  }

   ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
    padding: var(--space-s);
    list-style: none;
  }

   ul li {
    font-size: var(--step-1);
    padding: var(--space-s) var(--space-l);
    border: 3px solid #fff;
    border-radius: 50px;
  }
</style>
