<h2>
  <em
    >Bringing over 20 years of experience building web applications, web sites
    and digital products.</em
  >
</h2>
<section id="experience">
  <div>
    <p>
      With experience at every layer of the stack & specialisation in the
      front-end I'm well placed to bring value to any organisation.
    </p>
    <p>
      I thrive in diverse teams, ambitious contexts & fast-paced environments.
    </p>
    <p>
      I like <strike>Javscript</strike> Typescript, CSS, people & building great
      things with them.
    </p>
    <p>
      For more in depth information feel free to reach out or connect with me
      over on <a href="https://www.linkedin.com/in/lucidmoon/">LinkedIn</a>.
    </p>
  </div>
  <div class="callout">
    <p class="leading">Things I'm good at and like doing:</p>
    <ul>
      <li>
        Architechting scalable web applications for the web platform leveraging
        modern web technologies &amp; tooling.
      </li>
      <li>
        Building offline/local-first
        <abbr title="Progressive Web Apps">PWAs</abbr> with
        <a href="https://pouchdb.com/">PouchDB</a> and
        <a href="https://couchdb.org/">CouchDB</a>
      </li>
      <li>
        Design Systems &amp; Component libraries with
        <a href="https://storybook.js.org/">Storybook</a>
      </li>
      <li>
        <a href="https://jamstack.org/">JAM Stacks</a>
      </li>
      <li>Bootstrapping projects &amp; app boilerplate</li><li>
        Universal (isomorphic/SSR) rendering
      </li>
      <li>Async work</li>
      <li>Scaling code bases</li>
      <li>Mentoring & Coaching</li>
      <li>Functional Programming</li>
      <li>Dev Tooling &amp; Experience</li>
      <li>Writing documentation</li>
    </ul>
  </div>
</section>

<style>
  section {
    display: block;
    column-gap: var(--space-2xl);
    /* padding: var(--space-xl) var(--space-2xl); */
    max-width: 1350px;
    margin: auto;
  }

  @media only screen and (min-width: 1050px) {
    section {
        display: flex;
    }
  }
  section > div {
    padding: var(--space-m);
  }
  section p {
    margin-top: 0;
  }

  .callout {
    background: hsla(300, 100%, 50%, 0.332);
  }

h2 {
    padding: var(--space-2xl);
    margin: var(--space-2xl);
    max-width: 1350px;
    text-align: center;
    margin: auto;
    font-weight: 900;
}
</style>
