<section id="experience">
  <div class="flow">
    <h2>
      <em
        >Bringing web apps, web
        sites and digital products to life.</em
      >
    </h2>
    <p class="leading">
      With experience at every layer of the stack & specialisation in the
      front-end I'm well placed to bring value to any organisation.
    </p>
    <p>
      I thrive in diverse teams, ambitious contexts & fast-paced environments.
    </p>
    <p>
      I like <strike>Javscript</strike> Typescript, CSS, people & building great
      things with them.
    </p>
    <p>
      For more in depth information feel free to reach out or connect with me
      over on <a href="https://www.linkedin.com/in/lucidmoon/">LinkedIn</a>.
    </p>
  </div>
  <div class="callout">
    <p class="leading">Things I'm good at and like doing:</p>
    <ul>
      <li>
        Architechting scalable web applications for the web platform leveraging
        modern web technologies &amp; tooling.
      </li>
      <li>
        Building offline/local-first
        <abbr title="Progressive Web Apps">PWAs</abbr> with
        <a href="https://pouchdb.com/">PouchDB</a> and
        <a href="https://couchdb.org/">CouchDB</a>
      </li>
      <li>
        Design Systems &amp; Component libraries with
        <a href="https://storybook.js.org/">Storybook</a>
      </li>
      <li>
        <a href="https://jamstack.org/">JAM Stacks</a>
      </li>
      <li>Bootstrapping projects &amp; app boilerplate</li>
        <!-- Universal (isomorphic/SSR) rendering -->
      <!-- </li> -->
      <!-- <li>Async work</li> -->
      <!-- <li>Scaling code bases</li> -->
      <li>Mentoring & Coaching</li>
      <li>Functional Programming</li>
      <li>Dev Tooling &amp; Experience</li>
      <li>Writing documentation</li>
    </ul>
  </div>
</section>

<style>
  section {
    display: block;
    column-gap: var(--space-2xl);
    padding: calc(var(--space-2xl)) var(--space-2xl);
    max-width: 1350px;
    margin: auto;
    
  }

  section p {
    margin-top: 0;
    font-size: var(--step-0);
  }

  section p.leading {
    margin: 0 0 var(--space-m) 0;
  }

  section .callout {
    background: var(--color-secondary);
    border: 12px double rgba(255, 255, 255, .95);
    padding: var(--space-m) ;
    margin: var(--space-l) 0 0 0;
    font-size: var(--step-0);
    color: #fff;
    border-radius: 20px;

  }
    section .callout a:link,
    section .callout a:visited {
      --link-color: #fff;
    }

  section h2 {
    margin: 0 0 var(--space-m) 0;
    font-weight: 900;
    font-size: var(--step-3);
    line-height: var(--step-4);
  }

  section ul {
    /* display:flex; */
    /* flex-direction: column; */
    column-count: 1;
    /* column-gap: var(--space-xl); */
    /* row-gap: var(--space-s); */
  }
 
  @counter-style thumbs {
    system: cyclic;
    symbols: "🔧" "📵" "👨🏼‍🎨" "⚡️" "⌨️" "👨🏻‍💻" "🤓" "🚀" "✍️";
    suffix: " ";
  }


  section li {
    padding: var(--space-s);;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* margin: 0 0 0 var(--space-l); */
    list-style-type: thumbs;
    list-style-position: inside;
    margin-bottom: var(--space-s);
    
  }
  
  @media only screen and (min-width: 992px) {
    section {
      display: flex;
      justify-content: center;
    }

    section > div {
      width: 50%;
    }

    section .callout {
      margin-top: 0;
    }

    section ul {
      column-count: 2;
    }
  }

  @media only screen and (min-width: 1600px) {

      section {
      margin: var(--space-2xl) auto;
      }
  }
</style>
