---
import { Image } from "@astrojs/image/components";
import { SITE_DESCRIPTION } from "../../consts";
import me from './me.jpg';


const heroText = SITE_DESCRIPTION.split(" ");
const widths = [256];
---

<div class="hero">
  <h1>
    <a href="#top">Senior+ Software Engineering Lead Berlin</a>
  </h1>
  <div class="hero-intro">
    <div class="pic">
      <Image src={me} width={256} height={256} alt="A Picture of Me!" />
    </div>
    <blockquote>
      {SITE_DESCRIPTION}
    </blockquote>
  </div>
</div>

<style>

  /* 
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    26% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  } */


</style>
