---
import { SITE_DESCRIPTION } from "../../consts";

const heroText = SITE_DESCRIPTION.split(" ");
---

<div class="hero">
  <h1>
    <a href="#top">Senior+ Software Engineering Lead Berlin</a>
  </h1>
  <div class="hero-intro">
    <picture>
      <img
        src="/public/1564326180592.jpg"
        alt="A picture of me!"
        width="256"
        height="256"
      />
    </picture>
    <blockquote>
      {SITE_DESCRIPTION}
    </blockquote>
  </div>
</div>

<style>
  @keyframes bounce {
    0%,
    100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  /* 
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    26% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  } */

  picture {
    flex: 1 0 auto;
    width: 256px;
    height: 256px;
    background: var(--light);
    position: relative;
    clip-path: circle(50%);
    isolation: isolate;
    /* &:before {
      content: " ";
      position: absolute;
      z-index: 1;
      top: 0;
      display: block;
      width: 256px;
      height: 256px;
      opacity: 0.3;

      background: linear-gradient(0deg, rgba(255, 255, 1, 1), rgba(0, 0, 0, 0)),
        url(/public/noise.svg);
      filter: contrast(170%) brightness(1000%);
    }

    &:after {
      position: absolute;
      top: 1;
      content: " ";
      display: block;
      width: 256px;
      height: 256px;
      background: var(--dark);
      mix-blend-mode: multiply;
      /* opacity: 0.5; */
    } */
    img {
      position: absolute;
      top: 0;
    }
  }

  picture img {
  }

  .hero {
    flex: 1 0 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-l);
    justify-content: center;
    animation: fadeOut auto linear;
    padding: 0 var(--space-s);
    animation-timeline: --page-scroll;
  }

  .hero::after {
    flex: 1;
    display: flex;
    align-items: center;
    content: "↓";
    font-size: var(--step-3);
    animation: bounce 0.5s 3;
  }

  .hero h1 {
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    text-wrap: balance;
    align-items: flex-end;
  }

  .hero h1 a:link,
  .hero h1 a:visited {
    text-decoration: none;
  }

  .hero-intro {
    display: flex;
    align-items: center;
    column-gap: var(--space-l);
  }

  blockquote {
    /* flex: 0 1 auto; */
    font-size: var(--step-1);
    padding: var(--space-s);
    text-align: left;
    text-wrap: pretty;
    /* white-space: pre-line; */
  }

  @media screen and (min-width: 420px) {
    .hero {
      max-width: 75%;
    }
  }

  @media screen and (min-width: 1920px) {
    .hero h1 {
      font-size: var(--step-6);
      line-height: var(--step-6);
    }

    blockquote {
      max-width: 75%;
      font-size: var(--step-2);
    }
  }
</style>
