---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const heroText = SITE_DESCRIPTION.split(" ");
---

<div class="hero">
  <h1>
    <a href="/">{SITE_TITLE}</a>
  </h1>
  <h2>
    {heroText.map((word, index: number) => <span class="word">{word} </span>)}
  </h2>
</div>

<style>
  h1 {
  }
  h2 {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: var(--space-xs); */
    row-gap: var(--space-xs);
    justify-content: center;
  }
  .word {
    /* display: inline-block; */
    font-size: var(--step-3);
    word-break: word;
    background: var(--color-primary-glare);
    line-height: 1em;
    padding: 0 var(--space-xs);
    /* line-height: 0; */
  }
  .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-m);
    padding: var(--space-l) var(--space-2xl) 0;
    max-height: calc(100vh);
  }


  .hero a:link,
  .hero a:visited {
    color: #333;
  }
  .hero h1 {
    margin: 0;
    /* padding: var(--space-m); */
    display: inline-block;
    font-size: var(--step-6);
    line-height: 1em;
  }
  .hero h2 {
    margin-top: var(--space-xl);
  }
  @media only screen and (min-width: 1650px) {
    .hero {
      /* max-width: 1350px; */
      margin: auto;
      margin: var(--space-2xl) auto 0;
      padding: var(--space-2xl) var(--space-2xl);
    }
    
    .hero h1 {
      font-size: calc(var(--step-6) * 1.5);
    }

    .hero h2 {
      max-width: 1350px;
      margin: var(--space-xl) auto 0;
    }
  }
</style>
