---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const chars = SITE_TITLE.split(" ").map(
  (word, index) =>
    `<div class="word" style="--word:${index + 1}">${word
      .split("")
      .map(
        (char, index) =>
          `  <span style="--char:${index + 1}" class="char">${char}</span>`
      )
      .join("")}
    </div>`
);
---

<div class="hero">
  <h1 set:html={chars} />
</div>

<style>
  .hero {
    /* isolation: isolate; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--space-m);
    margin: 0;
    min-height: 100vh;
    background: #111;
    background: linear-gradient(to bottom, #111 66%, #333);
    background-color: #111;
    opacity: 1;
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-primary) 0,
      var(--color-primary) 2px,
      #111 0,
      #111 50%
    );
  }

  .hero a:link,
  .hero a:visited {
    color: #fff;
    text-decoration: none;
    font-style: italic;
  }

  h1 {
    margin: 0;
    line-height: 1em;
    font-size: calc(var(--step-4) * 2);
    font-weight: 900;
    text-wrap: balance;
    color: var(--color-light);
    position: relative;
  }

  .wavy {
    /* display: inline-block; */
  }

  h1 {
    display: flex;
    flex-direction: column;
    /* column-gap: 1rem; */
    flex-wrap: wrap;

    .word {
      display: flex;
      flex-wrap: wrap;
    }

    .word {
      display: flex;
      column-gap: 0;
      animation: word 15s infinite ease-in;
      font-style: italic;
      /* animation-delay: 15 */
      transform: rotate(-3deg);
    }

    .char {
      /* position: relative; */
      display: inline-block;
      color: #fff;
      /* text-transform: uppercase; */
      animation: flip 15s infinite ease-in, charcolor 5s infinite;
      /* animation: charcolor 5s infinite; */
      font-style: italic;
      animation-delay: calc(0.1s * var(--word) * var(--char));
      transform: scale(120%);
    }
  }

  @keyframes charcolor {
    0% {
      color: var(--color-light);
    }

    25% {
      color: var(--color-secondary);
    }
    50% {
      color: var(--color-tertiary);
    }
    50% {
      color: var(--color-primary);
    }
    /* 100% {
      color: var(--color-light);
    } */
  }

  @keyframes word {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
      /* column-gap: 10%; */
    }
  }

  @keyframes flip {
    0%,
    100% {
      transform: rotateY(360deg) scale(120%) rotate(0);

      /* color: red; */
    }
    50% {
      transform: scale(150%) rotate(-6deg);
    }
    80% {
      transform: rotateY(360deg) scale(120%) rotate(0);
    }
  }

  @media only screen and (min-width: 1600px) {
    .hero {
      margin: auto;
      margin: auto 0;
    }

    .hero h1 {
      font-size: calc(var(--step-6) * 1.5);
    }
  }
</style>
