---
import { Image } from "@astrojs/image/components";
import { SITE_DESCRIPTION } from "../../consts";
import me from './me.jpg';


const heroText = SITE_DESCRIPTION.split(" ");
const widths = [256];
---

<div class="hero">
  <h1>
    <a href="#top">Senior+ Software Engineering Lead Berlin</a>
  </h1>
  <div class="hero-intro">
    <div class="pic">
      <Image src={me} width={256} height={256} alt="A Picture of Me!" />
    </div>
    <blockquote>
      {SITE_DESCRIPTION}
    </blockquote>
  </div>
</div>

<style>
  @keyframes bounce {
    0%,
    100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  /* 
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    26% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  } */

  .pic {
    flex: 1 0 auto;
    width: 256px;
    height: 256px;
    background: var(--light);
    position: relative;
    clip-path: circle(50%);
    isolation: isolate;

    img {
      position: absolute;
      top: 0;
    }
  }

  picture img {
  }

  .hero {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--space-l);
    padding: 0 var(--space-s) 0;
    position: relative;
  }

  .hero::after {
    position: absolute;
    bottom: 32px;
    /* flex: 1 1 10%; */
    display: flex;
    align-items: center;
    justify-self: flex-end;
    content: "↓";
    font-size: var(--step-3);
    animation: bounce 0.5s 3;
  }

  .hero h1 {
    display: flex;
    /* flex: 1 0 auto; */
    text-align: center;
    text-wrap: balance;
    align-items: flex-end;
  }

  .hero h1 a:link,
  .hero h1 a:visited {
    text-decoration: none;
  }

  .hero-intro {
    display: flex;
    align-items: center;
    column-gap: var(--space-l);
    /* flex-wrap: Wrap; */

    & blockquote {
      /* flex: 0 1 auto; */
      font-size: var(--step-1);
      padding: var(--space-s);
      text-align: left;
      text-wrap: pretty;
      /* white-space: pre-line; */
    }
  }

  @media screen and (min-width: 420px) {
    .hero {
      max-width: 75%;
    }
  }

  @media screen and (min-width: 1920px) {
    .hero h1 {
      font-size: var(--step-6);
      line-height: var(--step-6);
    }

    blockquote {
      max-width: 75%;
      font-size: var(--step-2);
    }
  }
</style>
