---
pagination:
  data: words
  size: 1
  alias: post
permalink: words/{{ post.slug }}/index.html
layout: layouts/post.njk
---



{% block content %}
		<heading-anchors>
    	<article>

    	  {{ post.body | markdown | safe }}

    	</article>
		</heading-anchors>
{% endblock %}
