---
pagination:
  data: words
  size: 1
  alias: post
permalink: blog/{{ post.slug }}/index.html
layout: layouts/post.njk
---

{% block content %}
    <article>
      {{ post.body | markdown | safe }}
    </article>
  </div>
{% endblock %}
