---js
const pagination = {
	data: "words",
	size: 1,
	alias: "post",
	before: function(items) { return items.filter(p => p.postType === 'TIL' && !p.rssOnly); }
};
const permalink = "til/{{ post.slug }}/index.html";
const layout = "layouts/post.njk";
const eleventyExcludeFromCollections = true;
---
<heading-anchors>
	{{ post.body | markdown | safe }}
</heading-anchors>
