@layer reset, variables, main, page;

@layer reset {
	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	body {
		/* 3. Add accessible line-height */
		line-height: 1.5;
		/* 4. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 5. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* 6. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 7. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 8. Improve line wrapping */
	p {
		text-wrap: pretty;
	}



	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		font-family: var(--feature-font);
		font-optical-sizing: auto;
		font-weight: 900;
		font-style: normal;
		text-transform: uppercase;
		margin: 0;

	}

	/*
	9. Create a root stacking context
  */
	#root,
	#__next {
		isolation: isolate;
	}
}

@layer variables {
	@font-face {
		font-family: fallback-font;
		src: local(Impact); /* required! */
		font-weight: 100;
		font-style: normal;
		size-adjust: 83%;
	}
	
	/* @font-face {
		font-family: 'Staatliches';
		font-style: normal;
		font-weight: 400;
		font-display: block;
		src: url(/font/Staatliches-Regular.woff2) format('woff2');
		unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
	} */
	
	/* latin */
	@font-face {
		font-family: 'Staatliches';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/font/Staatliches-Regular.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	:root {
		--step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
		--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
		--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
		--step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
		--step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
		--step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
		--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
		--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

		/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
		--space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
		--space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
		--space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
		--space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
		--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
		--space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
		--space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
		--space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
		--space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

		/* One-up pairs */
		--space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
		--space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
		--space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
		--space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
		--space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
		--space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
		--space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
		--space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

		/* Custom pairs */
		--space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);

		--feature-font: "Staatliches", fallback-font;

		--dark: #111;
		--light: #fff;
		
		color-scheme: light dark;
		
		--background: light-dark(var(--light), var(--dark));
		--text: light-dark(var(--dark),  hwb(213 78% 16% / 1));

		--callout-bg: light-dark(rgba(0,0,0,0.02),rgba(255,255,255, 0.03));
		--callout-fg: light-dark(#555, hsl(230, 1%, 98%));

		--font-family: -apple-system, system-ui, sans-serif;
		--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT,
			Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
			Courier, monospace;

		--syntax-tab-size: 2;
		
		--header-height: 70px;
	}
}

@layer main {
	@view-transition {
		navigation: auto;
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	::view-transition-old(root) {
		animation: 0.4s ease-in both fade-out;
	}

	::view-transition-new(root) {
		animation: 0.4s ease-in both fade-in;
	}

	html,
	body {
		padding: 0;
		margin: 0 auto;
		font-family: var(--font-family);
		font-display: swap;
	}

	html {
		overflow-y: scroll;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		font-size: var(--step-0);
		background-color: var(--background);
		color: var(--text);
	}

	/* https://www.a11yproject.com/posts/how-to-hide-content/ */
	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
	img[width][height] {
		height: auto;
	}

	img[src$=".svg"] {
		width: 100%;
		height: auto;
		max-width: none;
	}

	p {
		line-height: 1.5;
	}

	li {
		line-height: 1.5;
	}

	a[href] {
		color: var(--text-color-link);
	}

	a[href]:visited {
		color: var(--text-color-link-visited);
	}

	a[href]:hover,
	a[href]:active {
		color: var(--text-color-link-active);
	}

	main>* {
		padding: 0 var(--space-s);
	}

	main :first-child {
		margin-top: 0;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	table {
		margin: 1em 0;
	}

	table td,
	table th {
		padding-right: 1em;
	}

	pre,
	code {
		background: hsl(230, 1%, 98%);
		color: #555;

	}

	pre:not([class*="language-"]) {
		/* margin: 0.5em 0; */
		line-height: 1.375;
		/* 22px /16 */
		-moz-tab-size: var(--syntax-tab-size);
		-o-tab-size: var(--syntax-tab-size);
		tab-size: var(--syntax-tab-size);
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		overflow-x: auto;
	}

	code {
		word-break: break-all;
	}

	pre:has(code) {
		padding: 1rem;
	}

	/* Header */
	header {
		padding: 0 var(--space-s);
	}
	header > :first-child {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		/* padding: 0 var(--space-s);	 */
		color: light-dark(#333, #fff);
		height: var(--header-height);
	}

	.home-link {
		font-weight: 700;
	}

	.home-link:link:not(:hover) {
		text-decoration: none;
	}

	/* Nav */
	.nav {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		column-gap: var(--space-s);
	}

	.nav-item {
		display: inline-block;
		text-align: right;
	}

	.nav-item a[href]:not(:hover) {
		text-decoration: none;
	}

	.nav a[href][aria-current="page"] {
		text-decoration: underline;
	}

	/* Posts list */
	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.postlist-item {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		flex-direction: column;
	}

	.postlist-link {
		text-underline-position: from-font;
		text-underline-offset: 0;
		text-decoration-thickness: 1px;
		font-family: var(--feature-font);
	}

	header {
		font-family: var(--feature-font);
		text-transform: uppercase;
	}

	.flow > * + * {
		margin-top: var(--space-xs);
	}


	footer {
		display: flex;
		row-gap: var(--space-l);
		flex-direction: column;
		background: light-dark(var(--dark),transparent);
		padding: var(--space-l) var(--space-s);
		color: var(--light);

	}

	footer .small {
		font-size: var(--step--2);
		color: #999;
	}



	footer .human {
		font-family: var(--feature-font);
	}

	footer .socials {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}

	toggle-xmas {
		/* position: relative;
		top: calc(-1 * var(--space-2xs)); */
		display: flex;
		justify-content: flex-start;
	}
	 toggle-xmas button {
		border: none;
		border-radius: var(--step--2);
		padding: var(--space-3xs) var(--space-s);
		font-family: var(--feature-font);
		font-size: var(--step--1);
	}

	footer .socials ul {
		display: flex;
		column-gap: var(--space-2xs);
		justify-content: flex-start;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	footer .socials ul li a {
		fill: var(--light);
	}

	@media screen and (min-width: 600px) {
		footer {
			flex-direction: row;
			justify-content: space-between;
		}

		footer .socials ul {
			justify-content: flex-end;
		}

		footer toggle-xmas {
			justify-content: flex-end;
		}
	}

	main {
		display: flex;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.callout {
		text-align: center;
		border-radius: 4px;
		background: var(--callout-bg);
		padding: var(--space-s);
		font-weight: 400;
		color: var(--callout-fg);
		padding: var(--space-s) var(--space-l);
	}
	
	.callout:has(picture) {
		display: flex;
		justify-content: center;
		align-items: center;
		
		gap: var(--space-s);
	}

	.callout:has(picture) img {
		min-width: 64px;
		min-height: 64px;
	} 

	.callout:has(picture) > * {
		 text-align: left;
	}

	.callout .icon {
		width: 64px;
		height: 64px;
	}

	@media (prefers-color-scheme: dark) {
		html[data-theme="light dark"] .illustration,
		html[data-theme="dark"] .illustration {
			filter: brightness(5) hue-rotate(250deg);
		}

		html[data-theme="light dark"] body,
		html[data-theme="dark"] body {
			--hdr-gradient: radial-gradient(
				farthest-corner circle at 50% 0% in oklab,
				rgb(0% 0% 0%) 0%, rgb(17% 17% 17%) 100%
			  );
			  --sdr-gradient: radial-gradient(
				farthest-corner circle at 50% 0%,
				#000 0%, #2b2b2b 100%
			  );
			  background: var(--hdr-gradient);
			  background-repeat: no-repeat;
			  background-attachment: fixed;
		}
	}

	html[data-theme=dark] .illustration {
		filter: brightness(5) hue-rotate(250deg);
	}

	html[data-theme=dark] body {
		--hdr-gradient: radial-gradient(
			farthest-corner circle at 50% 0% in oklab,
			rgb(0% 0% 0%) 0%, rgb(17% 17% 17%) 100%
		  );
		  --sdr-gradient: radial-gradient(
			farthest-corner circle at 50% 0%,
			#000 0%, #2b2b2b 100%
		  );
		  background: var(--hdr-gradient);
		  background-repeat: no-repeat;
		  background-attachment: fixed;
	}

	theme-switcher button {
		background: none;
		border: none;
		color: light-dark(var(--background),var(--text));
		font-family: var(--feature-font);
		padding: 0 var(--space-xs);

	}

	theme-switcher button[aria-pressed=true] {
		background: light-dark(var(--background), var(--text));
		color: light-dark(var(--text), var(--background));
		border-radius: var(--step-0);
	}

	@media (prefers-reduced-motion) {
		* {
			animation: none !important;
		}

		@view-transition {
			navigation: none;
		}
	}
}


