---js
const layout = 'layouts/home';
const eleventyNavigation = {
key: "About",
order: 3
};
---
{% css %}
@layer page {
	main {
		padding-top: var(--space-l);
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 0 100%;
	}

	main > * {
		max-width: 80ch;
	}

	.columns {
		display: flex;
		align-items: flex-start;
		gap: var(--space-l);
	}

	hr {
		border: 0;
		height: 1px
	}

	figure {
		display: flex;
		flex-direction: column;
		row-gap: var(--space-s);
		align-items: center;
	}

	figure figcaption {
		font-style: italic;
	}

	.main-flow {
		display: flex;
		flex-direction: column;
		row-gap: var(--space-l);
		padding: 0 var(--space-s);
		padding-bottom: var(--space-2xl);
	}

	.skills {
		flex-wrap: wrap;
	}

	@media screen and (min-width: 800px) {
		.skills {
			flex-wrap: nowrap;
		}

		.skills > * {
			flex-basis: 50%;
		}
	}

	.skills ul {
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-s);
	}

	.skills ul li {
		display: flex;
		background: var(--callout-bg);
		color: var(--callout-fg);
		max-width: 150px;
		padding: var(--space-2xs);
		border-radius: var(--space-2xs);
	}

	.with-sidebar {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-l);
	}

	.with-sidebar > :first-child {
		flex-grow: 1;
	}

	.with-sidebar > :last-child {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 40%;
	}

	.with-sidebar img.me	 {
		border-radius: 50%;
		max-width: 300px;
	}

	.icon {
		width: 64px;
		height: 64px;
	}

	.switcher {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-l);
	}
	
	.switcher > * {
		flex-grow: 1;
		flex-basis: calc(( 50rem - 100%) * 999);
	}
	
	.switcher > :nth-last-child(n+ 3),
	.switcher > :nth-last-child(n+ 3) ~ * {
		flex-basis: 100%;
		order:0
	}
		
	@media screen and (max-width: 50rem) {
		.flip :first-child {
			order: 1;
		}

		.flip :last-child {
			order: 0;
		}
	}
}

{% endcss %}

<div class="main-flow">
	<div class="with-sidebar">
		<div class="image">
			<figure>
				<img class="me" src="../public/img/1564326180592.jpeg" alt="A photograph of me,  wearing shades, with beach grass in the background" />
				<figcaption>Fig 1. It's me!</figcaption>
			</figure>
		</div>
		<div class="content flow">
			<h1>Tthew who?!</h1>
			<p>Hi. I'm Matt. A Senior Staff Software Developer / Engineer based in Berlin, Germany.</p>
			<p>I do software engineering, engineering management &amp; leadership. I build for, and lead teams that
				build for the web.</p>
			<p>I like HTML, CSS, Javascript/Typescript, people and achieving great things with them. I thrive in divese
				teams, ambitious contexts and fast paced environments.</p>
			<p>I also enjoy writing about web development &amp; software engineering over in my <a
					href="/words">blog</a>.</p>
		</div>
	</div>

	<div class="callout">
		<img src="../public/img/119.Advertise.png"  width="64" height="64" class="icon illustration" alt="An illustration of a man making an announcement with a megaphone."/>
		<p>I'm currently open to exploring new opportunities for 2025. <a href="/contact">Get in touch!</a></p>
	</div>
	<div class="switcher flip">

		<div class="flow">
			<h2>Profile</h2>
			<p>I'm a seasoned software developer who's been building, designing and leading teams that build for the web for
				over twenty years.</p>
			<p>I have a broad and varied experience right across the stack, with an emphasis on the front end. Over the
				years I've been exposed to a wide array of industries, technologies and architechtures, with a heavy focus on
				client-side web application development for startups &amp; NGOs working with componenent driven front-end
				libraries, frameworks and paradigms like React &amp; Next.js for a large proportion of the latter part
				of my career.</p>
			
		</div>
		<div>
			<img src="../public/img/360.Carpenter.png"  alt="An illustration of person creating a wooden robot toy." class="illustration" />
			</div>
	</div>
	<div class="switcher">
		<div>
			<img src="../public/img/354.Pros-And-Cons.png"  alt="An illustration of two people looking at a chart of pros & cons."  class="illustration" />
			</div>
		<div class="flow">
			<p>I am a capable and adaptable personality, just as comfortable with rolling up my sleeves and gettting my hands
				dirty as I am operating at the strategic and people managment levels.</p>
			<p><strong>It's important to me that my work aligns with my values</strong> and has real purpose beyond pure capatalistic gain, ideally producing an overall net
				positive for humanity.</p>
		  <p>I'm particularly interested in, and have so far been privileged to have had the
				opportunity to work on a number of projects in the global, public and private health space.</p>
		</div>

	</div>
	

	<div class="columns skills">
		<div class="flow">
			<h2>Primary Skillset:</h2>
			<ul>
				<li>Web Platform (HTML, CSS, Javascript, DOM & Web APIs)</li>
				<li>Component Architechture (React + Ecosystem, et al)</li>
				<li>Typescript</li>
				<li>Code Review &amp; Stewardship</li
				<li>Engineering Management</li>
				<li>Systems &amp; Software Design</li>
				<li>Technical Leadership</li>
				<li>Code Review & Stewardship</li>
				<li>Design Handoff, Design Systems &amp; Documentation</li>
				<li>Mentoring</li>
				<li><abbr title="Accessibility" >A11y</abbr>&nbsp;&amp;&nbsp;<abbr title="User Experience">Ux</abbr></li>
			</ul>
			<h2>Other Skills:</h2>
			<ul>
				<li>Offline-first & Distibuted Systems</li>
				<li>Visual &amp; Web Design</li>
				<li>Leader in company values, standards &amp; culture</li>
				<li>DJing &amp; Audio Production</li>
				<li>Baking Sourdough</li>
			</ul>
		</div>
		<div class="flow">
			<h2>Things I'm good at (and like doing):</h2>
			<ul>
				<li>Building scalable Frontend Codebases</li>
				<li>Building & Leading Cross Functional Engineering Teams</li>
				<li>Technical Strategy</li>
				<li>Mentoring &amp; Supporting Career Development</li>
				<li>Systems Design</li>
				<li>Developer experience &amp; tooling</li>
				<li>Project bootstrapping</li>
				<li>Building things from scratch</li>
				<li>Maintaining & improving legacy systems</li>
				<li>Managing tech debt</li>
				<li>Testing strategy</li>
				<li>Design Systems &amp; Component Libraries</li>
				<li>Scaling codebases</li>
				<li>Technical Writing</li>
			</ul>
		</div>
	</div>
	<div class="switcher">
		<div class="flow">
			<h2>My developer story</h2>
			<p>Starting out building table based layouts and CGI backends as a teenager in the mid nineties, the journey
				ever since has been of continual self-learning, re-learning and iteration.</p>
			<p>Fast forward over two decades and you can find me building and leading teams that build high quality,
				highly performant, accessible and engaging web applications and web sites with the <strong>web platform first</strong>, with a little help from the likes of Solid, Preact, React, Astro, 11ty, Next.js, Remix, Storybook, Zustand, Tanstack
				Query, REST, RPC, GraphQL, SQL Databases &amp; Document Stores.</p>
		</div>
	<div>
		<img src="../public/img/310.Fast-Internet.png" alt="An illustration of a person riding a rocket, holding a laptop, looking and pointing upwards." class="illustration" />
		</div>
	</div>
	<div class="switcher flip">
		<div>
			<img src="../public/img/428.Route.png" alt="An illustration of a person drawing a line on the ground with location markers at intervals along the line." class="illustration" />
			</div>
	<div class="flow">
		<p>I've had a wide exposure to an array of technologies and methodologies over the years, having worked for
			Software Houses, Creative &amp; Digital Agencies, Startups &amp; NGOs as well as running my own small
			businesses.</p>
		<p>I have an eye for detail and an appreciation for aesthetics & try my best to apply design thinking to all
			areas of my work.</p>
		<p>You can find out more <a href="https://linkedin.com/in/tthew">over on LinkedIn</a>.
	</div>

	</div>
	<div class="switcher">
		<div class="flow">
			<h2>About this Website</h2>
			<p>This website was hand made by a human (me!). The front-end is a static build, built with <a
					href="https://11ty.dev">11ty</a> which is in turn hooked up to a <a href="https://craftcms.com/">Craft
					CMS</a> backend that exposes a GraphQL endpoint that I self host on a Raspberry Pi in my apartment configured with a
				webhook to trigger re-build & deployment whenever the data changes.</p>
			<p>You'll be able to read about all the details soon in an upcoming blog post on how I designed and built
				this site.</p>
			<p>Illustrations from the <a href="https://notioly.com/">Notioly</a> pack by the talented <a href="https://bio.link/maryamato">Mary Mato</a>.</p>
			<p><strong>This website does not track you.</strong></p>
		</div>
		<div>
			<img src="../public/img/315.Knowledge-Base.png" alt="An illustration of a person opening a chest that revealing a speach bubble containing the letter 'i'." class="illustration" />
		</div>
	</div>
</div>