---js
const layout = "layouts/home.njk";
const pagination = {
  data: "words",
  size: 10,
  before: function(data) { return data.filter(x => !x.rssOnly) }
};


---

{% css %}
main {
	display: flex;
	justify-content: center;
  flex: 1;


}

main > * {
	width: 80ch;

}
.pagination {
  list-style: none;
  margin: none;
  display: flex;
  justify-content: space-between;
}
{% endcss %}

<div class="words">
<h1>Words</h1>

{% set postslist = pagination.items | webWords | reverse  %}
{% include "postslist.njk" %}
<ol class="pagination">
  <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous Page</a>{% else %}Previous{% endif %}</li>
  <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next Page{% endif %}</li>
</ol>
</div>
