---js
const layout = "layouts/home.njk";
const pagination = {
  data: "words",
  size: 10,
  before: function(data) { return data.filter(x => !x.rssOnly) }
};
---

{% css %}
main {
	display: flex;
	justify-content: center;


}

main > * {
	max-width: 80ch;

}

{% endcss %}

<div class="words">
<h1>Words</h1>

{% set postslist = pagination.items | webWords | reverse  %}
{% include "postslist.njk" %}
<ol>
  <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
  <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
{%- for pageEntry in pagination.pages %}
  <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
  <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
</ol>
</div>
