---js
const layout = "layouts/home.njk";
const pagination = {
  data: "words",
  size: 10,
  before: function(data) { return data.filter(x => !x.rssOnly) }
};
const title = 'Words';
---

{% css %}
@layer page {
	main {
		display: flex;
		justify-content: center;
		min-height: 100vh;
		flex: 1;
		padding-bottom: var(--space-xl);
	}

	main > * {
		width: 80ch;
		max-width: 100%;
	}

	.words {
		display: flex;
		flex-direction: column;
		row-gap: var(--space-l);
	}

	.pagination {
		list-style: none;
		margin: none;
		display: flex;
		justify-content: space-between;
	}
}
{% endcss %}

<div class="words">
<h1>Words</h1>

{% set postslist = pagination.items | webWords | reverse  %}
{% include "postslist.njk" %}
<ol class="pagination">
  {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">Previous Page</a></li>{% endif %}
  {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">Next Page</a></li>{% endif %}
</ol>
</div>
