---js
const layout = "layouts/home.njk";
const pagination = {
data: "words",
size: 10,
before: function(data) { return data.filter(x => !x.rssOnly) }
};


---

{% css %}
@layer page {
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }

    main > .contact {
        display: flex;
        flex-direction: column;
        row-gap: var(--space-xl);
        width: 80ch;
        max-width: 100%;
        padding: 0 var(--space-xs);
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: var(--space-s);
        padding-bottom: var(--space-2xl);
    }

    form button {
        border: none;
        background: light-dark(#000, #fff) ;
        color: light-dark(#eee, #111);
        font-family: var(--feature-font);
        padding: var(--space-3xs) var(--space-l);
        border-radius: var(--space-m);
        font-size: var(--step-1);
    }

    .field {
        display: flex;
        flex-direction: column;
    }

    .field input,
    .field textarea {
        padding: var(--space-2xs);
        border: 1px solid light-dark(#000, transparent);
        border-radius: var(--space-3xs);
        background: light-dark(#fff, #000) ;
        color: light-dark(#000, #fff);
    }

    .controls {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}
{% endcss %}

<div class="contact ">
    <div class="callout">
		<img src="../../public/img/119.Advertise.png" alt="404 Not Found" width="32" height="32" class="icon illustration" alt="An illustration of a man making an announcement with a megaphone."/>
		<p><strong>I'm currently open to exploring new opportunities for 2025.</strong></p>
	</div>
    <div class="flow">
    <h1>Get in touch</h1>

    {# <p>I'm currently open for new opportunties.</p> #}
    <p>If you'd like to reach out, I'd love to hear from you.</p>
    <p>
        Feel free to send me a message using the contact form or alternatively   <a href="mailto:hallo@tthew.berlin">drop me an email</a>.
    </p>
    
    <form netlify data-netlify-honeypot="username" method="post" name="contact" action="/contact/sent">
        <input type="hidden" name="subject" value="[tthew.berlin] You Have A New Message!" />
        <input name="username" class="visually-hidden" />
        <div class="field">
            <label for="contact-form-field__name">
                Name
            </label>

            <input id="contact-form-field__name" placeholder="e.g. Slavoj Žižek" name="name" type="text" required />
        </div>
        <div class="field">
            <label for="contact-form-field__email">
                Email
            </label>
            <input id="contact-form-field__email" placeholder="e.g. you@example.com" name="email" type="email" required />
        </div>
        <div class="field">
            <label for="contact-form-field__message">
                Message
            </label>
            <textarea id="contact-form-field__message" name="message" placeholder="How can I help?" rows="10"></textarea>
        </div>

        <input type="hidden" name="form-name" value="contact" />
        <div class="controls">
            <button type="submit">
                Hit me up!
            </button>
        </div>
    </form>
</div>
</div>