.page {
  display: grid;
  grid-template-columns: var(--grid-cols-12);
  background: var(--light);
  color: var(--dark);
  padding: 10rem 0;
}

.primaryContent {
  grid-column: 5 / 10;
}

.primaryContent h1 {
  font-size: 5rem;
  line-height: 0.9em;
}
