---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Impressum"
  description="Legal obligations"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
>
  <p>This website is provided by Matthew Richards.</p>
  <p>Email: <a href="mailto:hallo@tthew.berlin">hallo@tthew.berlin</a></p>
</Layout>
