---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Homepage/Hero.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const heroText = SITE_DESCRIPTION.split(" ");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main id="main" role="main">
      <Hero/>
      <!-- <About />
      <Experience />
      <Contact /> -->
    </main>
    <Footer />
    <style is:global>
      footer {
        background: var(--dark);
      }
    </style>
  </body>
</html>
