---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Licence"
  description="Licence information"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
>
  <p>
    All content by Matthew Richards and licensed under a <a
      rel="license"
      href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      >Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
      License</a
    >.
  </p>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="Creative Commons Licence" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
  </a>
  <p>
    Code is licensed under the <a
      href="https://github.com/tthew/website/blob/master/LICENSE">MIT license</a
    > and <a href="https://github.com/tthew/website"
      >shared as open source on Github</a>.
  </p>
</Layout>
