---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Privacy & GDPR"
  description="tl;dr I don't track you"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
>
  <div>
    <p>This website does not use cookies or make any efforts to track you.</p>
    <h2>GDPR?</h2>
    <p>
      The GDPR is an EU law designed to protect the personal information of it's
      citizens as well as regulating how this data is collected, stored &amp;
      used.
    </p>
    <p>
      <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en"
        >https://ec.europa.eu/info/law/law-topic/data-protection_en</a
      >
    </p>
  </div>
</Layout>
