.about {
  flex: 0 1;
  display: grid;
  grid-template-columns: var(--grid-cols-12);
  color: var(--dark);
  background: var(--light);
  line-height: 1.3rem;
  padding: 5rem 0rem;
}

/**
 * 1. Tighten up the horizontal layout
 */
.aboutTitle {
  margin-top: 0;
  line-height: 1em;
  padding-right: 3rem; /* 1 */
}

.aboutContent {
  font-size: 1rem;
  grid-column: 2 / 12;
  grid-row: 1 / 2;
}

.aboutBody {
  column-count: 1;
}

/**
 * 2. Removes the margin. (I didn't use a reset)
 */
.aboutBody :first-child {
  margin-top: 0; /* 2 */
}

.aboutContentSecondary {
  grid-column: 2 / 12;
  grid-row: 2 / 9;
}

.aboutContentFigure {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}


.aboutContentFigureMain {
  grid-column: span 6;
  grid-row: 1;
}

.aboutContentFigureSecondary {
  grid-column: span 3;
  grid-row: 2;
}

.aboutContentFigureCaption {
  grid-column: span 6;
  grid-row: 3;
}

@media only screen and (min-width: 40rem) {
  .aboutTitle {
    font-size: 4vw;
    line-height: 3.5vw;
  }
  .aboutContent {
    grid-column: 2 / 7;
  }
  .aboutContentSecondary {
    grid-column: 8 / 12;
    grid-row: 1 / 2;
    overflow: hidden;
  }
}

@media only screen and (min-width: 80rem) {
  .aboutBody {
    column-count: 2;
  }
}
