:root {
  --social-link-icon-size: 30px;
}

.contact {
  padding: 5rem 0 50vh;
  margin: 0;
  display: grid;
  grid-template-columns: var(--grid-cols-12);
  background: var(--dark);
}

.contactContentTitle {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 5rem;
  line-height: 5rem;
}
.contactContent {
  grid-column: 2 / 12;
  grid-row: 1;
}

.contactForm {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 12;
  grid-row: 2;
}

.contactFormField {
  display: flex;
  width: 100%;
}

.contactFormFieldLabel {
  visibility: hidden;
  position: absolute;
}

.contactFormInput {
  flex: 1 0 auto;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  min-width: 0;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #444;
  background: var(--darkest);
  color: var(--light);
  font-family: var(--body-font-family);
}

.contactFormButton {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  font-size: 2rem;
  font-family: var(--header-font-family);
  font-weight: bold;
  color: var(--dark);
  background: rgba(255, 255, 255, 0.5);
}

.highlight {
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  list-style: none;
  margin: 0 -0.5rem;
  padding: 0;
  margin-bottom: 1rem;
}

.socialLink {
  flex: 0 1 var(--social-link-icon-size);
  width: var(--social-link-icon-size);
  height: var(--social-link-icon-size);
  padding: 1rem 0.5rem;
}

.socialLinkLabel {
  display: none;
}

@media only screen and (min-width: 50rem) {
  .contactContent {
    grid-column: 2 / 6;
  }

  .contactForm {
    grid-column: 7 / 12;
    grid-row: 1;
  }

  .contactBody p {
    margin-top: 0;
  }

  .contactFormButton {
    width: auto;
    align-self: flex-end;
  }
}

@media only screen and (min-width: 100rem) {
  .contactBody {
    columns: 2;
  }
  .contactBody p {
    widows: 3;
  }
}
