---
const today = new Date();
---

<hr />

<footer>
  <ul>
    <li>
      <a href="/impressum">Impressum</a>
    </li>
    <li>
      <a href="/license">License</a>
    </li>
    <li>
      <a href="/privacy-gdpr">Privacy &amp; GDPR</a>
    </li>
    <li>
      <a aria-current="page" class="" href="/terms">Terms</a>
    </li>
    <li class="sr-only">
      <a href="#top">Back to top</a>
    </li>
  </ul>
  <p>&copy; {today.getFullYear()} Matthew Richards.</p>
</footer>

<style>
  hr {
    margin: 2rem 0 0;
  }
  footer {
    padding: 25px;
    text-align: center;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: center;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin: auto;
    list-style: none;
    column-gap: 2rem;
  }
</style>

