---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname, hash,searchParams } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
console.log({pathname, hash, searchParams, isActive})
---

<a href={href} class:list={[className]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		padding: var(--space-xs) var(--space-xs);
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
	a:link,
	a:visited {
		font-weight: normal;
	}

	a:hover,
	a:active,
	a:focus {
            background: var(--color-secondary);
			border-radius: var(--space-2xl);
	}
</style>
