---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <HeaderLink href="#main" class="sr-only">Skip to Main Content</HeaderLink>
	<HeaderLink href="/">👨🏼‍🎨 tthew</HeaderLink>
    <HeaderLink href="/#about">About</HeaderLink>
    <HeaderLink href="/#experience">Experience</HeaderLink>
    <HeaderLink href="/words">Words</HeaderLink>
  </nav>
<style>
	nav {
		display: flex;
		justify-content: flex-end;
		column-gap: var(--space-xs);
		padding: var(--space-xs);
		font-size: var(--step-1);
	}
	nav a:nth-child(2) {
		font-weight: bold;
		margin-right: auto;
	}
</style>
</header>

<style>
	header {
		/* padding: 1rem; */
		/* background: #333; */
		background: rgba(255, 255, 255, 0.77);
		backdrop-filter: blur(21px);
		/* border-bottom: 1px solid #eee; */
		position: fixed;
		width: 100%;
	}

	header a:link, 
	header a:visited {
		color: #333;
		text-decoration: none;
	}
	header a:hover {
	}

</style>


