---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="#main" class="sr-only">Skip to Main Content</HeaderLink>
    <HeaderLink href="/" class="logo">tthew</HeaderLink>
    <div class="menu">
      <HeaderLink href="/#about">About</HeaderLink>
      <HeaderLink href="/#experience">Experience</HeaderLink>
      <HeaderLink href="/words">Words</HeaderLink>
    </div>
  </nav>

  <style></style>
</header>

<style>
  header {
    /* padding: 1rem; */
    /* background: var(--color-primary); */
    /* background: rgba(255, 255, 255, 0.1); */
    /* backdrop-filter: blur(21px); */
    /* border-bottom: 1px solid #eee; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }

  header a:link,
  header a:visited {
    color: #fff;
    text-decoration: none;
  }
  header a:hover {
  }
  .logo::before {
    content: "👨🏼‍🎨";
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: var(--space-xs);
    padding: var(--space-xs);
    font-size: var(--step-1);
  }

  nav > a:nth-child(2) {
    font-weight: bold;
    margin-right: auto;
  }

  .menu {
    /* position: absolute; */
    z-index: 1;
    /* top: 0;
    right: 0; 
    width: 100dvw;
    height: 100vh;
    transform: translate3d(100vw, 0, 0);
    transition: transform 300ms ease-in; */
  }

  @media only screen and (min-width: 800px) {
    .menu {
      /* position: static;

      height: auto;
      width: auto;
      transform: none;
      background: none; */
    }

    button {
      display: none;
    }
  }
</style>
