.hero {
  margin-top: -4rem;
  position: relative;
  display: grid;
  grid-template-columns: var(--grid-cols-12);
  grid-template-rows: repeat(6, auto);
  background: var(--darkest);
  color: rgba(255, 255, 255, 0.9);
  transition: min-height 300ms var(--transition-curve);
  z-index: 1;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  margin: 0;
  line-height: 0.9em;
  grid-column: 2  / 12;
  grid-row: none;
  top: 50%;
  margin-top: -40%;
  cursor: pointer;
  position: absolute;
  font-size: 19vw;
}

.heroTitleBreak {
  display: block;
}

.heroPicWrapper {
  grid-column: 1 / 13;
  grid-row: 1 / 7;
}

.heroControl {
  position: absolute;
  grid-row: 6;
  grid-column: 2 / 6;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-self: bottom;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

@media only screen and (min-width: 40rem) {
  .heroTitleBreak {
    white-space: nowrap;
  }

  .heroControl {
    grid-row: 6;
  }

  .hero {
    margin-top: -6rem;
    grid-template-rows: repeat(6, 1fr);
    transition: min-height 300ms var(--transition-curve);
  }

  .heroTitle {
    grid-column: 4 / 11;
    font-size: 12vw;
    margin-top: -25%;;
  }

  .heroPicWrapper {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
    align-self: end;
  }
}

@media only screen and (min-width: 50rem) {
  .heroTitle {
    font-size: 12vmax;
  }
}
