.navigationItems {
  list-style: none;
  font-family: var(--header-font-family);
}

.navigationItem {
    text-decoration: none;
}

.navigationItem a:link,
.navigationItem a:visited,
.navigationItem a:hover,
.navigationItem a:active {
  color: inherit;
}

.navigationItemActive:link,
.navigationItemActive:visited,
.navigation .navigationItemActive:hover,
.navigation .navigationItemActive:active {
  text-decoration: underline;
}

@media only screen and (max-width: 50em) {
  .navigationItems {
    box-sizing: border-box;
    padding: 3rem 0 0 3rem;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vmax;
    display: block;
    background: var(--light);
    font-size: 16vw;
    color: var(--dark);
    transform: translateY(-100vmax);
    box-shadow: 0px 0px 10px #777;
    z-index: 10;
    will-change: transform;
  }

  .navigationItems.visible {
    transform: none;
  }

  .navigationItems.animatable {
    transition: transform 300ms var(--transition-curve);
  }

  .navigationItems.visible.animatable {
    transition: transform 500ms var(--transition-curve);
  }

  .hamburger {
    display: block;
    position: relative;
    width: 20px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transform: translate(0px, 0px);
    transition: transform 0.5s var(--transition-curve);
    will-change: transform;
    z-index: 50;
  }

  .visible .hamburger {
    transform: translate(6px, 0px);
    transition: transform 0.5s var(--transition-curve);
  }

  .hamburgerLine {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: -4px 0%;
    background: var(--light);
    border-radius: 3px;
    transition: transform 0.5s var(--transition-curve),
                background 0.5s var(--transition-curve),
                opacity 0.55s ease;
    z-index: 1;
  }

  .hamburgerLine:first-child {
    transform-origin: 0% 0%;
  }

  .hamburgerLine:nth-child(3) {
    transform-origin: 0% 100%;
  }

  .visible .hamburger {
  }

  .visible .hamburgerLine {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: var(--dark);
  }

  .visible .hamburgerLine:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .visible .hamburgerLine:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 0);
  }
}

@media only screen and (min-width: 50rem) {
  .hamburger {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 1rem;
  }
  .navigationItem {
    display: inline-block;
    margin: 0 0 0 2rem;
  }
}

.navigationItem:first-child {
  margin-left: 0;
}
